body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;

  position: relative;
  width: 100%;
}

.spider-web {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.link {
  border: black 1px solid;
  position: absolute;
  text-decoration: none;
  color: #333;
  /* border-radius: 50%; */
  transition: all 0.3s ease;
}

hr {
  width: 100%;
  border: 10px solid black;
}

.link-1 {
  top: 0;
  left: 50%;
}

.link-2 {
  top: 25%;
  left: 85%;
}

.link-3 {
  bottom: 0;
  left: 50%;
}

.link-4 {
  top: 25%;
  left: 15%;
}

.link-5 {
  top: 75%;
  left: 85%;
}

.link-6 {
  top: 75%;
  left: 15%;
}


.logo-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* Place the logo above the links */
}

.logo-center img {
  /* background-color: #f0f0f0; */
  max-width: 200px;
  /* Adjust the size of your logo */
  height: auto;
  display: block;
  margin: 0 auto;
}




















.slide {

  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  /* background-color: rgb(0, 0, 0); */
}

#section1,
#section2,
#section3,
#section4,
#section5 {
  /* background-size: 65vh; */
  /* background-position: 50% 80%; */


}

#section1 {
  background-image: url('images/IMG_2089.avif');

}

#section2 {
  background-image: url('images/IMG_2172.avif');
}

#section3 {
  background-image: url('images/IMG_2178.avif');
}

#section4 {
  background-image: url('images/IMG_2187.avif');
}

#section5 {
  background-image: url('images/IMG_2189.avif');
}


#upper-nav {
  display: none;
}

.navigation {
  position: fixed;
  top: 50%;
  margin-top: -315px;
  text-align: center;
  z-index: 2;


}

.model-name {
  padding-top: 0.3em;
  color: rgb(255, 255, 255);
  font-family: poller one;
  font-size: 5em;
  text-align: center;

}

.describtion {
  color: aliceblue;
  font-family: inter;
  text-align: center;
  font-size: 1.2em;
}



.navigation li {

  color: rgb(0, 0, 0);
  display: block;
  padding: 0 10px;
  font-family: poller one;
  line-height: 9.5vh;
  font-weight: 900;
  text-align: center;
  padding-left: 28px;
  cursor: pointer;
  font-size: 1em !important;

}

.navigation a {
  text-decoration: none;
}

/*Hover*/
.navigation li.light-menu {
  border-bottom: 0.1em solid #252525;

}

.navigation li.light-menu:hover {
  border-bottom: 2px solid #ffffff;

}