body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container-menu {

  background-color: white;
  height: 100vh;
  position: relative;
  width: 100%;
}

.spider-web {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.link {
  border: black 1px solid;
  position: absolute;
  text-decoration: none;
  color: #333;
  /* border-radius: 50%; */
  transition: all 0.3s ease;
}

hr {
  width: 100%;
  border: 10px solid black;
}

.link-1 {
  top: 0;
  left: 50%;
}

.link-2 {
  top: 25%;
  left: 85%;
}

.link-3 {
  bottom: 0;
  left: 50%;
}

.link-4 {
  top: 25%;
  left: 15%;
}

.link-5 {
  top: 75%;
  left: 85%;
}

.link-6 {
  top: 75%;
  left: 15%;
}


.logo-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* Place the logo above the links */
}

.logo-center img {
  /* background-color: #f0f0f0; */
  max-width: 200px;
  /* Adjust the size of your logo */
  height: auto;
  display: block;
  margin: 0 auto;
}





.intro-container {
  margin-top: 20%;
}

.welcome-text {
  font-family: 'Arvo', serif;
  font-size: 4em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
}

.bold-title {
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 6em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.2em;
}

.description {
  font-family: 'Inter', sans-serif;
  font-size: 2em;
  line-height: 2.5em;
  text-align: center;
  margin: 0 10%;
  margin-bottom: 30px;
}


/* card flipping section */





.image-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.image-card {
  width: calc(25% - 20px); /* Adjust the width of each image card */
  margin-bottom: 20px;
  perspective: 1000px;
}

.flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.flip-card-back{
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;

}
.flip-card-front
{
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front img,
.flip-card-back {
  width: 100%;
  height: 100%;
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.flip-card-back h3,
.flip-card-back p {
  text-align: center;
  margin-bottom: 10px;
}










.slide {

  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  /* background-color: rgb(0, 0, 0); */
}

#section1,
#section2,
#section3,
#section4,
#section5 {
  /* background-size: 65vh; */
  /* background-position: 50% 80%; */


}

#section1 {
  background-image: url('images/IMG_2089.avif');

}

#section2 {
  background-image: url('images/IMG_2172.avif');
}

#section3 {
  background-image: url('images/IMG_2178.avif');
}

#section4 {
  background-image: url('images/IMG_2187.avif');
}

#section5 {
  background-image: url('images/IMG_2189.avif');
}


#upper-nav {
  display: none;
}

.navigation {
  position: fixed;
  top: 50%;
  margin-top: -315px;
  text-align: center;
  z-index: 2;


}

.model-name {
  padding-top: 0.3em;
  color: rgb(255, 255, 255);
  font-family: poller one;
  font-size: 5em;
  text-align: center;

}

.describtion {
  color: aliceblue;
  font-family: inter;
  text-align: center;
  font-size: 1.2em;
}



.navigation li {

  color: rgb(0, 0, 0);
  display: block;
  padding: 0 10px;
  font-family: poller one;
  line-height: 9.5vh;
  font-weight: 900;
  text-align: center;
  padding-left: 28px;
  cursor: pointer;
  font-size: 1em !important;

}

.navigation a {
  text-decoration: none;
}

/*Hover*/
.navigation li.light-menu {
  border-bottom: 0.1em solid #252525;

}

.navigation li.light-menu:hover {
  border-bottom: 2px solid #ffffff;

}